h2{
    display: inline-block;
}

#thanhcongcu{
    margin-top: 10px;
}

#buttondiv{
    float:right;
}

.sanphamdiv{
    background-color: red;
    height: 150px;
    width: 150px;
    display: inline-block;
}
